header{
	height: 70px;
	border-bottom: 1px #CCCCCC;
	width: 100%;
	color: white;
}
header .logo {
	width: 142px;
	height: 60px;
	background: url("../images/logo.png") no-repeat center;
	padding-left: 20px;
}
